@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    max-width: 1440px;
    min-width: 375px;
    font-size: 16px;
    height: 100vh;
    font-family: 'Karla', sans-serif;
    background-color: hsl(204, 43%, 93%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    display: grid;
    background-color: white;
    width: 50em;
    height: 35em;
    grid-template-areas:
        "join join"
        "sub whyus";
    grid-template-columns: 25em;
    box-shadow: 0.2px 0.2px 10px gray;
    border-radius: 8px;
}

.join {
    grid-area: join;
    display: flex;
}

.join .content {
    width: 45rem;
    height: auto;
    margin: auto;
    padding: 0;
}

.join h1 {
    color: #2ab2af;
    margin: 0;
}

.join h2 {
    color: hsl(71, 73%, 54%);
}

.join p {
    color: hsl(218, 22%, 67%);
    font-size: 1.2rem;
    font-weight: 700;
}

.sub {
    display: flex;
    grid-area: sub;
    background-color: #2ab2af;
    color: white;
    border-bottom-left-radius: 8px;
}

.sub .content {
    width: 20rem;
    height: 13.5rem;
    margin: auto;
}

.sub h2 {
    margin: 0 0 1.4rem 0;
}

.price {
    display: flex;
    width: auto;
    height: 2.5rem;
    justify-self: center;
    font-weight: 400;
    color: hsl(204, 43%, 93%, 60%);
}

.price span {
    font-size: 2.5rem;
    margin: 0 0.5rem 0 0;
    font-weight: 700;
    color: white
}

.sub button {
    background-color: hsl(71, 73%, 54%);
    border: none;
    border-radius: 8px;
    width: 100%;
    height: 3.5rem;
    box-shadow: 0.2px 0.2px 10px gray;
    color: white;
    font-weight: 700;
    font-size: 1.1em;
    margin-top: 1.1rem;
}

.whyus {
    display: flex;
    grid-area: whyus;
    background-color: #2fc6c4;
    color: white;
    border-bottom-right-radius: 8px;
}

.whyus .content {
    width: 20rem;
    height: 13.5rem;
    margin: auto;
}

.whyus h2 {
    margin: 0 0 1.6rem 0;
}

.whyus ul {
    list-style: none;
    padding: 0;
    line-height: 1.5rem;
    color: hsl(204, 43%, 93%, 95%);
}

footer {
    margin: 0.5rem auto 0 auto;
    text-align: center;
}

.attribution {
    margin: 0;
}

@media (max-width: 798px) {
    /* html {
        max-height: fit-content;
    } */
    body {
        margin-top: 15rem;
        align-items: center;
        justify-content: center;
    }
    .container {
        margin-top: 20rem auto 0 auto;
        width: 20rem;
        height: 65em;
        grid-template-areas:
            "join"
            "sub"
            "whyus";
        grid-template-columns: 100%;
        box-shadow: 0.2px 0.2px 10px gray;
    }

    .join {
        grid-area: join;
        background-color: white;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }

    .join .content {
        width: 17rem;
        height: auto;
        margin: auto;
        padding: 0;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }

    .sub {
        width: 100%;
        border-radius: 0px;
    }

    .sub .content {
        width: 17rem;
        height: 13.5rem;
        margin: auto;
    }

    .whyus {
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }
    .whyus .content {
        width: 17rem;
        height: 13.5rem;
        margin: auto;
    }
    footer {
        margin: 0.5rem auto 0 auto;
        width: 20rem;
        text-align: center;
    }
    
    .attribution {
        margin: 0;
    }

}